<section class="about">
    <div class="wrapper">
        {% assign posts=site.posts | where:"lang", page.lang, | where:"categories", "demo" %}
            {% for post in posts %}
                <article class="m-all d-1of2 demonstration">
                    <div class="demonstration--wrapper">
                        {% capture icon %}{{ 'img/icons/light/icon-' }}{{ post.icon }}{{ '.svg' }}{% endcapture %}
                        <span class="demonstration__icon icon-xx">{% include {{icon}} param="value" %}</span>
                        <div class="demonstration__content">
                            <h1 class="demonstration__title title-1">{{ post.title }}</h1>
                            {{ post.content }}
                        </div>
                    </div>
                </article>
            {% endfor %}
    </div>
</section>
