<div class="app">
    <div class="app__window">
        <ul class="menu">
            <li class="menu__item active">Data overview</li>
            <li class="menu__item">Data management</li>
            <li class="menu__item">Storage configuration</li>
            <li class="menu__item">System services</li>
            <li class="menu__item">Task schedules</li>
        </ul>
        <div class="active-page">
            <div class="line">
                <div class="col-2">
                    {% include img/infographics/infog-circle-1.svg %}
                    <p class="t-align-c w-100">Files hosted</p>
                </div>
                <div class="col-2">
                    {% include img/infographics/infog-circle.svg %}
                    <p class="t-align-c w-100">Cache usage</p>
                </div>
            </div>
            <div class="line">
                <div class="col-1">
                    {% include img/infographics/infog-bat.svg %}
                    <p class="t-align-l">Data transfert</p><p class="t-align-r">/Mo</p>
                </div>
            </div>
            <div class="line">
                <div class="fake-button t-align-c">Perform</div>
                <div class="fake-button t-align-c">Reset</div>
                <div class="fake-button t-align-c">Download</div>
            </div>
        </div>
    </div>
</div>
