<section class="features">
    <div class="wrapper">
        <div class="d-all newsletter">
            <div class="newsletter__wrapper">
                <form action="" class="newsletter__form">
                    <input class="newsletter__form--input" type="text" name="email" value="" placeholder="Type your email adress">
                    <input class="newsletter__form--button" type="button" name="send" value="Suscribe to our newsletter">
                </form>
            </div>
        </div>
        <div class="d-1of2 features__title-wrapper">
            <h1 class="features__title title-1">We provide you an efficient package wich include several features.</h1>
        </div>
        {% assign features=site.features | where:"lang", page.lang %}
            {% for feature in features %}
                <article class="feature m-all t-1of2 d-1of4">
                    <div class="feature--wrapper">
                        {% capture icon %}{{ 'img/icons/light/icon-' }}{{ feature.icon }}{{ '.svg' }}{% endcapture %}
                        <span class="feature__icon icon-xx">{% include {{icon}} param="value" %}</span>
                        <div class="feature__content">
                            <h1 class="feature__title title-2">{{ feature.title }}</h1>
                            {{ feature.content }}
                        </div>
                    </div>
                </article>
            {% endfor %}
    </div>
</section>
