    <div class="fold">

        <div class="wrapper">

            <section class="fold__content">
                <div class="fold__content--text m-all t-1of2 d-1of2">
                    <!-- <p class="news fold__news"></p> TODO:news-->
                    <h1 class="title fold__content__title">{{ page.d-title }}</h1>
                    <h2 class="sub-title fold__content__sub-title">{{ page.d-subtitle }}</h2>
                    <span class="btn-wrap">
                        <a href="" class="fold__content__btn btn btn-highlight-2">{{ site.buttons.documentation[page.lang] }}</a>
                        <!-- <a href="" class="fold__content__btn btn btn-highlight-1">{{ site.buttons.contact[page.lang] }}</a> -->
                    </span>
                </div>
                <div class="fold__content--figure m-all t-1of2 d-1of2">
                    {% include app.html %}
                </div>
            </section>

        </div>
        <div class="fold__footer">
            <div class="wrapper">
                <p class="fold__footer__cta"><span class="icon">{% include img/icons/icon-down-w.svg %}</span>{{ site.scroll[page.lang] }}</p>
            </div>
        </div>
    </div>

</div>
</div>
<!-- end headFold -->
