.features{
    background-color: $color-dark-xx;
    color: $color-light;
    padding: 0 0 $gap-block 0;
    &__title{
        line-height: 1.35em;
        &-wrapper{
            padding: $gap-block 10% 0 20px;
        }
    }
    .feature{
        padding: 15px 20px;
        &:nth-child(7n){
            margin-right: 25%;
            &+.feature{
                margin-left: 25%;
            }
        }
        &__icon{
            position: relative;
            left: -6px;
        }
        &__content{

        }
        &__title{
            margin: 10px 0;
            &+p{
                color: transparentize($color-light, .5);
            }
        }
    }
}
