.fold{
    height: 100%;
    > .wrapper{
        height: 100%;
    }
    &__content{
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
        &--text{
            width: 42%;
            color: white;
        }
        &--figure{
            width: 58%;
            padding-right: 0;
        }
        &__title{
            font-size: 3.25em;
            font-weight: bold;
            text-shadow: 1px 0 0 transparentize($color-dark, 0.65);
        }
        &__sub-title{
            font-size: 1.375em;
            line-height: 1.75em;
            font-style: italic;
            letter-spacing: .25px;
            margin-top: 30px;
        }
        .btn-wrap{
            margin-top: 80px;
            display: block;
        }

    }
    &__footer{
        height: 84px;
        line-height: 84px;
        background: transparentize(darken($color-dark-xx, 5%), .2);
        color: $color-light;
        text-transform: uppercase;
        font-size: .75em;
        letter-spacing: 0.2em;
        .icon{
            margin-right: 15px;
        }
    }
}

.head-fold{
    @include linear-gradient-b(-45deg, darken($color-dark-xx, 15%), darken($color-dark, 1%));
}
